menuconfig V2R_DRIVERS
	bool "Virt2real device drivers"
	---help---
	Virt2real onboard devices

if V2R_DRIVERS
source "drivers/v2r/IMU/Kconfig"	
endif

if V2R_DRIVERS
source "drivers/v2r/init/Kconfig"	
endif

config V2R_ADC
	depends on V2R_DRIVERS
	tristate "ADC driver"
	default y
	---help---
	Virt2real ADC driver (6 channels)

config V2R_PINS
	depends on V2R_DRIVERS
	tristate "pins driver"
	default y
	---help---
	Virt2real pins driver

config V2R_GPIO
	depends on V2R_DRIVERS
	tristate "GPIO driver"
	default y
	---help---
	Virt2real GPIO driver

config V2R_EXTPWM
        depends on V2R_DRIVERS
        tristate "External PWM driver"
        default y
        ---help---
        Virt2real External PWM driver

config V2R_SWPWM
	depends on V2R_DRIVERS
	tristate "SW PWM driver"
	default n
	---help---
	Virt2real Software PWM driver (not good yet)
	OLD VERSION, not fully usable on current board version
	

